<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <commands>
      <command patch:instead="*[@name='webedit:addrendering']" name="webedit:addrendering" type="Sitecore.Support.XA.Foundation.LocalDatasources.Commands.AddRendering, Sitecore.Support.297466" />
    </commands>
  </sitecore>
</configuration>